<% @posts.each do |post| %>
<div class="h_bar"></div>
	<div class="row">
		<div class="six column admin_title">
			<%= post.title %>
	 	</div> 
	 	<div class="six column admin_control">
	 		<%= link_to 'Show', post %>
			<%= link_to 'Edit', edit_post_path(post) %>
			<%= link_to 'Destroy', post, confirm: 'Are you sure?', method: :delete %>	
	 	</div>
	</div>
<% end %>
