// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.title{
	font-size: 15pt;
	line-height: 40px;
	border-left: 15px #0F4D92 solid;
	padding-left: 10px;
	background-color: #E8E8E8;
	margin-top: 20px;

}

.content{
	margin-top: 20px;
	line-height: 20px;
	padding-bottom: 20px;
}