<div class="row">
	<div class="twelve column">
		<h2 class="title">From Berkeley to Carmel</h2>
		<h4  class="subheader">My name is Arnaud Benard and I'm currently working at the Lawrence Berkeley Lab. In my free time, I hack for @movies_io and @flight_board. Feel free to ping me on Twitter.</h4>
	</div>



</div>